# Python Bytecode and Cache
__pycache__/
*.py[cod]
*.class

# Virtual Environment
.venv/
venv/
ENV/
env/

# Environment Variables
.env
.env.*
!*.env.example

# Database files
*.db
*.sqlite3

# IDE / Editor specific
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
